@use 'src/styles/vars' as v;
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.herobanner {
  &--container {
    justify-content: space-evenly;
    padding: 1.5rem;
    display: flex;
    margin: 4rem;
    background-color: v.$color-background;
  }

  &--title {
    //contient toute la partie de gauche
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (min-width: 1101px) {
      margin-right: 2rem;
    }

    .ui.segment{
      max-width: 80%;
      @media (max-width: 1100px) {
        max-width: 100%;
      }
    }
  }

  &--subTitle {
    font-family: v.$titleFont;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2em;
    color: v.$color-theme2;

    @media (max-width: 1100px) {
      font-size: 2rem;
    }

    &--color {
      color: v.$color-theme1;
    }
  }

  &--description {
    width: 80%;
    text-align: justify;
    margin: 1.5em 0;
    line-height: 1.7rem;
  }
}

// .description--color{ // couleur du span
//   font-size:1.2rem ;

// }

/*Tablets [601px -> 1200px]*/
@media only screen and (max-width: 1100px) {
  .herobanner {
    &--container {
      justify-content: space-evenly;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      margin: 2rem 1.5rem;

      @media (max-width: 540px) {
        margin: 1rem 1.5rem;
      }
    }

    &--description {
      width: auto;
      margin: 1em 0;
      line-height: 1.5rem;
    }
  }

  .container--button {
    display: flex;
    margin-right: 3rem;
    margin-bottom: 1rem;
  }
}

.home--picture {
  @media (max-width: 540px) {
    display: none;
  }
}
