@use 'src/styles/vars' as v;

.button-container {
  .button {
    background-color: v.$color-theme2;
    color: white;
    font-size: 1rem;
  }
}

.containers-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem 0 0 0;
}

.container-form {
  width: 50%;

  @media only screen and (max-width: 800px) {
    width: 80%;
  }
}
