@use 'src/styles/vars' as v;

.card-ressource {
  // border-radius: 20px;
  // overflow: hidden;
  // height: 23rem;
  // width: 25rem;
  // color: #fff;
  // font-weight: 400;
  // font-size: 0.875rem;
  // background-size: cover;
  // margin-bottom: 2rem;
  // filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

  // @media (max-width: 540px) {
  //   height: 16rem;
  //   width: 18rem;
  // }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 1rem 0 1rem;
    min-height: 95%;
  }

  &-badge {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: .5rem 1rem 0;
  }

  &-content h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @media (max-width: 540px) {
      font-size: 1.5rem;
    }
  }

  &-content span {
    font-weight: 700;
  }

  &-content-details {
    display: flex;
    justify-content: space-between;
  }
}

.button-redirect {
  background: none;
  font-weight: 700;
  color: white;
  box-shadow: none;
  border: none;
}

.button-redirect:hover {
  transition: 1;
  text-decoration: underline;
}

// .card-ressource-1 {
//   background-image: linear-gradient(
//       180.28deg,
//       rgba(36, 42, 92, 0) -71.51%,
//       rgba(36, 42, 92, 0.8) 99.75%
//     ),
//     url(https://images.unsplash.com/photo-1537884944318-390069bb8665);
// }

.badge {
  display: inline-block;
  padding: 0.35rem 0.65rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  text-transform: uppercase;


  &-video {
    background-color: #41cf7c;
  }

  &-podcast {
    background-color: #feb32b;
  }

  &-livre {
    background-color: #53dff2;
  }

  &-pdf {
    background-color: #f25353;
  }
}

.badges-techno{
  margin: 0 0 0 0.5rem;
}

.badges-techno-card{
  color:white;

  @media (max-width: 540px) {
    font-size: 20px;
  }
}

.author {
  align-self: center;
}
